.benefits {
	background-color: $lightgray;
	// .benefits__content
	&__content {
		padding-top: 60px;
		padding-bottom: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	// .benefits__item
	&__item {
		width: 24%;
		margin-bottom: 20px;
		// margin-right: 15px;
		// &:last-child {
		// 	margin-right: 0;
		// }
		@include breakpoint($md2) {
			width: 49%;
		}
		@include breakpoint($md4) {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	// .benefits__icon
	&__icon {
		width: 70px;
		// display: inline-block;
		padding: 15px;
		border: 2px solid $blue;
		border-radius: 10px;
		margin: 0 auto 28px;
		img {
			width: 36px;
			height: 36px;
		}
	}
	// .benefits__title
	&__title {
		font-family: 'Montserrat';
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: $darkgray;
		margin-bottom: 10px;
		text-align: center;
	}
	// .benefits__text
	&__text {
		line-height: 24px;
		color: $graphite;
		text-align: center;
	}
}
