.benefits {
	background-color: $lightgrey;
	// .benefits__content
	&__content {
		padding-top: 60px;
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
	}
	// .benefits__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	// .benefits__icon
	&__icon {
		display: inline-block;
		padding: 10px;
		border: 2px solid $blue;
		border-radius: 10px;
		margin-bottom: 28px;
		img {
			width: 36px;
			height: 36px;
		}
	}
	// .benefits__title
	&__title {
		font-family: 'Montserrat';
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: $darkgrey;
		margin-bottom: 10px;
		text-align: center;
	}
	// .benefits__text
	&__text {
		line-height: 24px;
		color: $graphite;
		text-align: center;
	}
}