.footer {
	min-height: 70px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	color: $gray;
	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	a {
		color: $darkgray;
	}
}
