//  MIXINS===========================================================================================
@import 'mixins';
//  /MIXINS===========================================================================================

//  FONTS===========================================================================================
// add fonts===========================================================================================
@import 'fonts';
// /add fonts===========================================================================================
//  default font===========================================================================================
$fontfamily: 'OpenSans';
//  /default font===========================================================================================
//  /FONTS===========================================================================================

//  VARIABLES===========================================================================================
@import 'vars';
//  /VARIABLES===========================================================================================

//  RESET CSS, GENERAL PARAMS===========================================================================================
@import 'nullstyle';
body {
	font-family: $fontfamily;
	color: $black;
	font-size: 14px;
	background-color: $darkgrey;
	&._lock {
		overflow: hidden;
		// @media (max-width: $md3+px) {
		// 	// width: 100%;
		// 	// position: fixed;
		// 	// overflow: hidden;
		// }
	}
}
//  /RESET CSS, GENERAL PARAMS===========================================================================================

//  WRAPPER===========================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//  /WRAPPER===========================================================================================

//  MAIN GRID===========================================================================================
._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
//  /MAIN GRID===========================================================================================

//  FORM====================================================================================================
@import 'forms';
@import 'ui';
// @import 'swiper';
//  /FORM====================================================================================================

//  ELEMENTS================================================================================================
//@import 'datepicker.scss';
//@import 'lightgallery.scss';
//@import 'pagging.scss';
//@import 'icons.scss';
//@import 'popup.scss';
@import 'header';
@import 'footer';
//@import 'home.scss';
//  /ELEMENTS===================================================================================================

//  MAIN BLOCK=================================================================================================
// .page {
// 	padding: 75px 0px 0px 0px;
// 	flex: 1 1 auto;
// }
//  /MAIN BLOCK================================================================================================
