.team {
	background: url(../img/team_background.png) center / cover no-repeat;
	// .team__mask
	&__mask {
		background-color: rgba($black, 0.2);
	}
	// .team__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	// .team__item
	&__item {
		@include breakpoint($md1) {
			width: 50%;
		}
		@include breakpoint($md4) {
			width: 100%;
		}
	}
	// .team__pic
	&__pic {
		margin-top: 70px;
		margin-bottom: 25px;
		@include breakpoint($md1) {
			margin-top: 35px;
		}
		img {
			border: 2px solid $white;
			border-radius: 50%;
			@include breakpoint($md3) {
				width: 200px;
			}
		}
		@include breakpoint($md1) {
			display: flex;
			justify-content: center;
		}
	}
	// .team__prof
	&__prof {
		line-height: calc(37 / 21);
		font-weight: 300;
		color: $white;
		text-align: center;
		margin-bottom: 75px;
		@include breakpoint($md1) {
			margin-bottom: 25px;
		}
		@include breakpoint($md4) {
			margin-bottom: 10px;
		}
	}
}
