// colors========================================
$black: #000;
$white: #fff;
$blue: #097cf2;
$darkgray: #333333;
$graphite: #555555;
$lightgray: #f5f5f5;
$purple: #9b59b6;
$gray: #999999;
//  /colors======================================
$minwidth: 320px;
$mw: 1160;
$mw1: 945;
$md1: 1023.98px; //$mw + 12
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
